.navContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  box-shadow:0px 4px 15px rgba(0, 0, 0, 0.3);

}
.navbarItems{
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.navbarItems>li{
  margin-left: 2rem;
}